openapi: 3.1.0
paths:
  /signup:
    post:
      operationId: signup
      summary: Sign up
      tags:
        - user
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
  /login:
    post:
      operationId: login
      summary: Log in
      tags:
        - user
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
  /me:
    get:
      operationId: getMe
      summary: Get the current user
      tags:
        - user
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
      security:
        - bearer: []
  /news:
    get:
      operationId: NewsController_getNews
      parameters: []
      responses:
        '200':
          description: ''
  /admin/me:
    get:
      operationId: getMe as admin
      summary: Get the current admin
      tags:
        - admin
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginRequestDto'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
      security:
        - bearer: []
  /admin/login:
    post:
      operationId: admin login
      summary: Log in as admin
      tags:
        - admin
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginRequestDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
info:
  title: Goodzik API
  description: ''
  version: '1.0'
  contact: {}
tags: []
servers:
  - url: https://goodzik-api.eventbook.pp.ua
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    SignupRequestDto:
      type: object
      properties:
        userName:
          type: string
        email:
          type: string
        password:
          type: string
      required:
        - userName
        - email
        - password
    UserDto:
      type: object
      properties:
        id:
          type: string
          example: 66c6fab4f13bf5134c167e8b
          description: The id of the user
        userName:
          type: string
          example: johnDoe1999
          description: Username of the user
        email:
          type: string
          example: John Doe
          description: The name of the user
        role:
          type: string
          example: customer
          description: Role of the user
      required:
        - id
        - userName
        - email
        - role
    SignupResponseDto:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsIn
        user:
          $ref: '#/components/schemas/UserDto'
      required:
        - accessToken
        - user
    ApiErrorDto:
      type: object
      properties:
        code:
          type: string
          description: The error code
          example: entity-not-found
          enum:
            - internal
            - entity-not-found
            - email-not-unique
            - unauthorized
            - forbidden
        message:
          type: string
          description: A human-readable message describing the error
          example: Entity not found
        details:
          type: object
          description: Additional details about the error
          example:
            entity: User
      required:
        - message
    LoginRequestDto:
      type: object
      properties:
        email:
          type: string
          example: example@example.com
        password:
          type: string
          example: admin123
      required:
        - email
        - password
    LoginResponseDto:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsIn
        user:
          $ref: '#/components/schemas/UserDto'
      required:
        - accessToken
        - user
