<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.563296374261-4bd1e1kmi02nn6e3lqrrpunus8pi82h1</string>
				<string>fb580663237753473</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>580663237753473</string>
	<key>FacebookClientToken</key>
	<string>4d6859f05c1bd9bdb1a228e4d047e4f3</string>
	<key>FacebookDisplayName</key>
	<string>Eventer</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>563296374261-4bd1e1kmi02nn6e3lqrrpunus8pi82h1.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
